body {
        margin: 20px;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }
    
    .avatar {
        width: 150px;
    }
    
    .card {
        width: 400px;
        margin: 0 auto;
        padding: 20px;
        display: flex;
        justify-content: space-around;
        text-align: center;
        background: #9A6AFF;
        color: #1E2029;
        border-bottom: 6px solid #d8cefe;
    
    }
    
    .border-blue {
        border: 1px dotted blue;
    }